   *{ margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: auto;
    background-color: rgb(7, 7, 35);
}
.topcover img{
    width: 200px;
}
.card{
    background-color: black;
    border: 2px solid white;
    border-radius: 20px;
    margin: 40px 10px;
}
.card:hover{
    background-color: rgb(7, 7, 35);
}
.btn{
    background-color: rgb(7, 7, 35);
    border: 2px solid white;
    margin: 0px 15px;
    min-width: 102px;
}
.btn:hover{
    background-color: rgb(135, 7, 255);
    box-shadow: 5px 5px 10px 2px blueviolet;
    border: 2px solid blueviolet;
    color: white;
}
.heading{
    height: auto;
    display: flex;
    width: 100vw;
    margin: 50px 0px;
    background-color: rgb(7, 7, 35);
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects{
    color: white;
    margin: auto;
    font-size: 5rem;
    text-shadow:
    -1px 0px 0px rgb(212, 0, 255),
    1px 2px 0px rgb(212, 0, 255),
    0px -1px 0px rgb(80, 48, 211),
    0px 4px 0px rgb(79, 45, 216);
}

.card-img-top{
    border-radius: 20px 20px 0px 0px;
}
/* @keyframes */
@media screen and (max-width: 850px) {
    .btn{
        background-color: rgb(7, 7, 35);
        border: 0.1px solid white;
        width: -webkit-fill-available;
        margin: 3px 0px;
    }
    .heading{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .projects{
        font-size: 3rem;
    }
}
